
.wd-secondary-navigation {
    background-color: white;
    padding: 0;
    font-family: "Helvetica", sans-serif;
    font-size: 0.9em;
    width: 160px;
    left: 0;
    height: 100%;
    list-style: none;
}


.wd-secondary-navigation a {
    text-decoration: none;
    color: var(--wd-canvas-red);
    padding: 3px 8px;
    margin: 5px 0;
}

.wd-secondary-navigation a:hover {
    color: var(--wd-canvas-red);
    text-decoration: underline;
    text-decoration-color: var(--wd-canvas-red);
}

.wd-secondary-navigation a.active:hover {
    text-decoration: underline;
    text-decoration-color: black;
    color: black;
}

.wd-secondary-navigation a.active {
    border-left: solid;
    border-left-color: black;
    border-left-width: thin;
    color: black;
}


.wd-hidden-courses-nav {
    position: fixed;
    background-color: black;
    min-width: 100%;
    top: 0;
    height: 55px;
    padding: 5px;
    z-index: 10;
    color: white;
}

.wd-hidden-courses-nav-spacer {
    height: 55px;
    max-width: 100%;
}

.wd-hidden-courses-nav .dropdown-menu {
    padding: 15px;
}

a.btn.dropdown-toggle {
    color: white !important;
}

