
.wd-flex-row-container {
    display: flex;
    flex-direction: row;
}

.wd-flex-col-container {
    display: flex;
    flex-direction: column;
}

.wd-flex-

.wd-offset-sidebar {
    margin-left: 85px;
}

.wd-color-red {
    color: red;
}