:root {
    --wd-canvas-red: #a32423;
}

.wd-flex-row-container {
    display: flex;
    flex-direction: row;
}

.wd-flex-col-container {
    display: flex;
    flex-direction: column;
}

.wd-offset-sidebar {
    margin-left: 85px;
}

.wd-color-red {
    color: var(--wd-canvas-red);
}

.wd-margin-right-5 {
    margin-right: 5px;
}


.wd-float-left {
    float: left;
}


.wd-float-right {
    float: right;
    height: 100px;
}

.form-control {
    margin-bottom: 10px;
    /*min-width: 200px;*/
    /*max-width: 500px;*/
}

div.wd-hamburger-icon i {
    margin-right: 15px;
    margin-top: 15px;
    max-width: fit-content;

}


div.wd-hamburger-icon a {
    text-decoration: none;
}


.wd-breadcrumb {
    --bs-breadcrumb-divider: '>';
    --bs-breadcrumb-divider-color: black;
}


.wd-breadcrumb a {
    color: var(--wd-canvas-red);
    text-decoration: none;
}

.wd-breadcrumb a:hover {
    color: var(--wd-canvas-red);
    text-decoration: underline;
}

.wd-breadcrumb-heading-container div {
    max-width: 100%;
}


.wd-rounded-corners-all-around {
    border-radius: 60px;
    border-width: 1px;
    border-style: solid;
    border-color: darkgrey;
    padding: 2px 5px;
}


.fa-check-circle {
    color: green;
}

.wd-dropdown-main-navigation a {
    color: var(--wd-canvas-red);
    text-decoration: none;
}


.wd-dropdown-main-navigation .wd-account-icon {
    color: grey;
    text-decoration: none;
}

.wd-dropdown-main-navigation a:hover {
    color: var(--wd-canvas-red);
    text-decoration: underline;
}


div.wd-spacer {
    width: 85px;
    min-width: 85px;
    max-width: 85px;
}

.wd-green-text {
    color: green;
}



.wd-hamburger-icon a:hover {
    color: var(--wd-canvas-red);
    text-decoration: none;
}