
.wd-edit-assignment-main-window {
    margin-left: 110px;
    margin-right: 25px;
    padding-top: 15px;
}

.wd-200-width {
    max-width: 200px !important;
}

.form-control {
    margin-bottom: 10px;
    max-width: 100%;
}

.wd-height-80 {
    height: 80px;
}

