.wd-main-navigation {
    background-color: black;
    list-style-type: none;
    padding: 0;
    font-family: "Helvetica", sans-serif;
    height: 100%;
    width: 85px;
    position: fixed;
    top: 0;
    left: 0;
}

.wd-main-navigation li {
    color: white;
    text-align: center;
    padding: 8px;
    margin-bottom: 5px;
}

.wd-main-navigation img {
    width: 4em;
}

.wd-main-navigation li a {
    color: white;
    text-decoration: none;
    font-size: 0.8em;
}

.wd-main-navigation li.wd-active a {
    color: var(--canvas-red);
    background-color: white;
    font-size: 0.8em;
}

.wd-main-navigation li.wd-active {
    background-color: white;
    color: var(--canvas-red);
}

.wd-main-navigation i.wd-account-icon  {
    color: grey;
}

.wd-main-navigation a i {
    color: var(--canvas-red);
    font-size: 1.5em;
}

