div.wd-course-home-main-window {
    margin-left: 15px;
    padding: 15px;
    height: 100%;
}

.wd-course-home-main-window button {
    max-width: fit-content;
    font-size: .8em;
    margin-right: 5px;
}

.wd-course-home-main-window select {
    max-width: fit-content;
    margin-right: 5px;
    font-size: .8em;
}

.wd-course-home-main-window hr {
    max-width: 98%;
}

.wd-course-home-main-window ul.list-group {
    margin-bottom: 15px;
    margin-top: 15px;
}

.wd-li-heading {
    font-size: 1.1em;
    font-weight: bold;
}


.wd-li-indent {
    padding-left: 150px;
}

.list-group-item i.fa-ellipsis-vertical {
    color: grey;
}


.list-group-item i.fa-check-circle {
    margin-right: 10px;
    color: green;
}


.list-group-item a {
    color: var(--wd-canvas-red);
    text-decoration: none;
}

.list-group-item a:hover {
    color: var(--wd-canvas-red);
    text-decoration: underline;
}

.list-group-item i {
    color: var(--wd-canvas-red);
    margin-left: 8px;
}

.wd-course-modules {
    min-width: 300px;
}

.wd-course-navigation col {
    max-width: fit-content;
}


.btn-success .fa-check-circle {
    color: white;
}

.wd-course-home-right-sidebar a {
    color: var(--wd-canvas-red);
    text-decoration: none;
}

.wd-course-home-right-sidebar a:hover {
    color: var(--wd-canvas-red);
    text-decoration: underline;
}

.wd-course-home-right-sidebar p {
    color: grey;
    font-size: 0.8em;
}

.fa-calendar {
    color: grey;
}

.wd-dropdown-courses-navigation a {
    color: var(--wd-canvas-red);
    text-decoration: none;
}

.wd-dropdown-courses-navigation a:hover {
    color: var(--wd-canvas-red);
    text-decoration: underline;
}

a:hover.dropdown-toggle {
    color: white;
    text-decoration: none;
}

a.dropdown-toggle {
    color: white;
    text-decoration: none;
}

.wd-hidden-courses-nav {
    position: fixed;
    background-color: black;
    top: 0;
    height: 55px;
    width: 100%;
    padding: 5px;
    z-index: 10;
    color: white;
}


.wd-hidden-courses-nav .dropdown-menu {
    padding: 15px;
}


.wd-hidden-courses-nav-spacer {
    height: 55px;
}