
div.wd-hamburger-icon {
    margin-left: 10px;
    padding-right: 0;
    max-width: fit-content;
    color: var(--wd-canvas-red);
    font-size: 1.5em;


}

.wd-breadcrumb {
    --bs-breadcrumb-divider: '>';
    --bs-breadcrumb-divider-color: black;
}


.wd-breadcrumb a {
    color: var(--wd-canvas-red);
    text-decoration: none;
}

.wd-breadcrumb a:hover {
    color: var(--wd-canvas-red);
    text-decoration: underline;
}

.wd-breadcrumb-heading-container div {
    max-width: 100%;
}
