
div.wd-hamburger-icon {
    margin-right: 15px;
    margin-top: 15px;
    max-width: fit-content;

}

.wd-breadcrumb {
    --bs-breadcrumb-divider: '>';
    --bs-breadcrumb-divider-color: black;
}


.wd-breadcrumb a {
    color: var(--wd-canvas-red);
    text-decoration: none;
}

.wd-breadcrumb a:hover {
    color: var(--wd-canvas-red);
    text-decoration: underline;
}

.wd-breadcrumb-heading-container div {
    max-width: 100%;
}
